:root {
  --master: #F3EFE0;
  --background: #222222;
  --accent2: #434242;
  --accent3: #22A39F;
  --buttonHover: #FFFBEB;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  text-align: center;
}

input.login {
  margin:0.5%;
  padding: 2px;
  font-size: 16px;
  border-width: 2px;
  border-color: var(--accent3);
  background-color: #ffffff;
  color: #000000;
  border-style: solid;
  border-radius: 6px;
  box-shadow: 0px 0px 5px rgba(66,66,66,.75);
  text-shadow: 0px 0px 5px rgba(66,66,66,.75);
}

.button {
	margin: 10%;
	background-color:var(--master);
	border-radius:13px;
	border:3px solid var(--accent3);
	display:inline-block;
	cursor:pointer;
	color:var(--accent2);
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
}
.button:hover {
	background-color: var(--buttonHover);
}
.button:active {
	position:relative;
	top:1px;
}

.link {
	margin: 0.5%;
}

.login-button {
  margin: 1.5%;
	background-color:var(--master);
	border-radius:13px;
	border:3px solid var(--accent3);
	display:inline-block;
	cursor:pointer;
	color:var(--accent2);
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
}

.login-button:active {
  position:relative;
	top:1px;
}

.login-button:hover {
  background-color:var(--buttonHover);
}

p.login {
  margin: 1.5%;
}

ul {
  list-style-type: none;
}

li.klas {
  margin: 1.5%;
	background-color:var(--master);
	border-radius:13px;
	border:3px solid var(--accent3);
	display:inline-block;
	cursor:pointer;
	color:var(--accent2);
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
}

img {
  width: 400px;
}

.lkNavbar {
  list-style-type: none;
  float: left;
  
}

img.lkNavbar{
  filter: invert(91%) sepia(24%) saturate(309%) hue-rotate(319deg) brightness(108%) contrast(91%);
}


.caption{
  grid-area: header;
}

.books, .studentBooks{
  grid-area: left;
}

.students, .checkedOut{
  grid-area: right;
}

.copies, .overdue{
  grid-area: middle;
}

.inventory, .manage{
  display: inline-grid;
  grid-template-areas: 
  'header header header'
  'left middle right';
  gap: 5px;
  border-radius: 10px;
  margin: 5%;
  background-color: var(--buttonHover);
}

.caption, .books, .studentBooks, .copies, .students, .checkedOut, .overdue{
  background-color: var(--master);
  padding: 30px;
  border-radius: 10px;
  margin: 0;
}

.page{
  grid-template-areas: 
  'nav content'
  'empty content';
}


.nav{
  grid-area: nav;
  
}

.content{
  grid-area: content;
}

.itemList{
  max-width: 90%;
}

.itemList li{
  float: left;
  margin: 1%;
  background-color: var(--master);
}

.item{
  background:linear-gradient(to bottom, var(--buttonHover) 5%, var(--master) 100%);
	background-color:var(--master);
	border-radius:5px;
	display:inline-block;
	cursor:pointer;
	color:var(--accent2);
	font-family:Arial;
	font-size:21px;
	font-weight:bold;
	padding:1px 19px;
	text-decoration:none;
}